<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>메모리라이언</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="description" content="rememberers of snulion 2016-2017">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="theme-color" content="#ebb2a1">
  </head>
  <body>
  
  <%= yield %>
  
  </body>
</html>
